.more-wrap{
    position:relative;
    height: 144px;
    background-color:#fff;
}
.more-swipe{
    position:absolute;
    left:0px;top:0px;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.more-swipe.swipe-animate{
    transition:transform .5s; 
}
.more-list{
    width: 100%;
    height: 124px;
    float:left;
    position:relative;
    overflow: hidden;
    li{
        position:relative;
        float:left;
        width:25%;
        height:62px;
        overflow: hidden;
        a{
            margin:0px auto 10px;
            padding-top:5px;
            display: block;
            width:60px;
            height: 62px;
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
            i{
                margin:0 auto;
                display:block;
                width:35px;
                height: 35px;
                background: url("/static/images/icon_more_sprite.png");
                -webkit-background-size:140px 140px;
                background-size:140px 140px;
            }
            i.icon-qq-phone{
                background-position:0px 0px;
            }
            i.icon-video-phone{
                background-position:-35px 0px;
            }
            i.icon-add-star{
                background-position:-70px 0px;
            }
            i.icon-red-bag{
                background-position:-105px 0px;
            }
            i.icon-send-money{
                background-position:0px -35px;
            }
            i.icon-send-file{
                background-position:-35px -35px;
            }
            i.icon-msg-shake{
                background-position:-70px -35px;
            }
            i.icon-position{
                background-position:0px -70px;
            }
            i.icon-recommend-contact{
                background-position:-35px -70px;
            }
            span{
                font-size:.75rem;
                display: block;
                text-align: center;
                color:#333;
            }
        }   
    }
}
.more-list-index{
    position:absolute;
    left:0px;bottom:0px;
    width:100%;
    height: 20px;
    text-align: center;
    li{
        display: inline-block;
        margin:2px 5px;
        width:6px;
        height: 6px;
        border-radius:50%;
        background-color:#9d9db1;
    }
    li.active{
        background-color:#666
    }
}

